@import "~antd/dist/antd.less";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p {
  font-family: "Inter", sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

input.ant-input {
  background: rgba(0, 0, 0, 0);
}

.ant-input-suffix,
.ant-input-prefix {
  font-family: "Inter", sans-serif;
  font-size: 12sepx;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: center;
  color: #969696;
}

.ant-btn.ant-btn-primary,
.ant-btn-primary {
  &:hover {
    background-color: #393939 !important;
    border-color: #393939 !important;
  }

  &[disabled]:hover {
    background-color: #f5f5f5 !important;
  }
}

.ant-card-head {
  background-color: #2300f9 !important;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
  padding-top: 5px;
  padding-bottom: 5px;
}

.ant-card-head-title {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0px;
  text-align: left;
  color: white;
}

.ant-input-lg {
  font-family: "Inter", sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
}

.ant-statistic {
  &-title {
    font-family: "Inter", sans-serif;
    text-transform: uppercase;
    font-size: 12px;
  }

  &-hide-value .ant-statistic-content-value {
    display: none;
  }

  &-content-value {
    font-family: "Inter", sans-serif;
    font-size: 16px;
  }
}

.ant-modal {
  &-close {
    color: white;
    top: 15px;

    &:hover {
      color: white;
    }
  }

  &-content {
    border-radius: 12px;
    padding-bottom: 8px;
  }

  &-header {
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    text-align: center;
    background-color: #2300f9;
    padding: 30px;
  }

  &-title {
    color: #ffffff;
    line-height: 20px;
    font-family: "Inter", sans-serif;
    font-size: 20px;
  }

  &-footer {
    border-top: none;
  }
}

.email-capture {
  .ant-input {
    font-family: "Inter", sans-serif;
    height: 50px;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    padding: 12px 16px;

    &-search-button {
      height: 50px;
    }
  }

  .ant-input-search
    > .ant-input-group
    > .ant-input-group-addon:last-child
    .ant-input-search-button {
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    padding: 12px 30px;
  }

  &-light {
    input.ant-input {
      &::placeholder {
        color: rgba(0, 0, 0, 0.8);
      }

      background: rgba(0, 0, 0, 0.04);
    }
  }

  &-dark {
    .ant-input-search
      > .ant-input-group
      > .ant-input-group-addon:last-child
      .ant-input-search-button {
      background-color: white;
      color: #000000;

      &:hover {
        background-color: #b3b1b1 !important;
      }
    }

    input.ant-input {
      color: rgba(255, 255, 255, 0.48);
      background-color: rgba(255, 255, 255, 0.12);
      border: none;

      &:active,
      &:focus {
        border-color: white;
      }
    }

    .ant-input-group-addon {
      background-color: transparent;
    }
  }
}

.ant-layout {
  &-footer {
    padding: 24px 0;
  }
}
